/* Global Rules */
:root {
  --main-color: #ff305b;
  --secondary-color: #555555;
  --secondary-bg-color: #f1f1f1;
  --black: #333;
  --white: #fff;
}
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix {
  clear: both;
}
.sec-title {
  font-size: 40px;
  color: var(--black);
  font-weight: 600;
}

/* ------------------------------------------ */

/* Start styling header */
/* Nav bar style */
header {
  width: 100%;
  position: fixed;
  z-index: 500;
}
.toggle-menu {
  display: none;
}
header .logo {
  color: var(--main-color);
  font-weight: 800;
  padding: 18px 0;
  font-size: 24px;
  float: left;
}
header nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;
  background-color: var(--black);
}
header nav ul {
  padding: 6px 0;
  float: right;
  list-style: none;
}
header nav ul li {
  display: inline-block;
  text-align: center;
}
header nav li a {
  color: white;
  font-weight: 300;
  font-size: 16px;
  padding: 8px 8px;
}
header nav li a:hover,
.active {
  color: var(--main-color);
  font-weight: 300;
}
.toggle-menu {
  color: var(--main-color);
  font-weight: 800;
  padding: 18px 0;
  font-size: 24px;
  float: right;
}
/* End of header */
/* ------------------------------------------ */

/* start landing style */
.landing {
  height: 100%;
  background-image: url(../assets/images/fanaws.jpg);
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover;
}
.landing::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.landing .container {
  display: table;
  color: white;
  text-align: center;
  height: 100%;
}
.landing .text-cont {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.landing .text-cont h3 {
  font-weight: 600;
  margin: 0 0 10px;
  font-size: 24px;
}
.landing .text-cont h1 {
  color: #ff305b;
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
}
.landing .text-cont h4 {
  font-size: 26px;
  font-weight: 200;
  color: #fff;
}
.landing .text-cont h4 span {
  position: relative;
}
.landing .text-cont h4 {
  position: relative;
}

.landing .text-cont h4 .switch-text .eff::after {
  content: "Developer";
  text-align: start;
  display: inline-block;
  border-right: 3px solid white;
  width: 0px;
  overflow: hidden;
  animation: rigthToLeft infinite 4s linear alternate;
  vertical-align: top;
}

@keyframes rigthToLeft {
  0% {
    content: "Developer";
    width: 125px;
  }
  25% {
    content: "Developer";
    width: 125px;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  75% {
    content: "Designer";
    width: 110px;
  }
  100% {
    content: "Designer";
    width: 110px;
  }
}

/* end of landing style */
/* ------------------------------------------ */

/* Start about section style */
.about {
  margin: 40px auto;
  padding: 100px 0;
}
.about-img-container {
  position: relative;
  float: left;
  margin-left: 80px;
  transform: translate(24px, 24px);
  width: 35%;
  height: 100%;
}
.about .about-img {
  position: relative;
  overflow: hidden;
}
.about .about-img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  border: 8px solid var(--black);
  border-radius: 8px;
  height: 100%;
  width: 100%;
  transform: translate(-24px, -24px);
}
.about .about-img img {
  width: 100%;
  border-radius: 8px;
}
.about-img .img-overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: var(--white);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  transition-timing-function: ease;
  transform: scaleY(0.1);
}
.about-img .img-overlay::after {
  content: "";
  position: absolute;
  border-radius: 8px;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.6;
}
.about-img .img-overlay a {
  color: var(--white);
}
.about .about-img:hover .img-overlay {
  top: -0.5%;
  transform: scaleY(0.99);
  opacity: 1;
}
.about-img .img-overlay i {
  font-size: 20px;
}
.about-img .img-overlay i:hover {
  color: var(--main-color);
}
.about .about-text {
  margin: auto;
  font-size: 14px;
  float: right;
  width: 52%;
}
.about-text h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-left: 16px;
  position: relative;
  text-transform: uppercase;
  color: var(--black);
}
.about-text h2::before {
  content: "";
  position: absolute;
  top: 8px;
  height: 60%;
  border-left: 4px solid var(--main-color);
  left: 0;
}
.about-text p {
  border-bottom: 1px dashed var(--secondary-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
  color: var(--secondary-color);
  line-height: 1.6;
}
.about-text ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 12px 0;
  font-size: 16px;
}
.about-text .left-li {
  float: left;
}
.about-text .right-li {
  float: right;
}
.about-text ul li {
  padding-bottom: 16px;
  width: 50%;
  color: var(--secondary-color);
}
.about-text ul li span {
  color: var(--black);
  font-weight: 800;
}
.about-text ul span + a {
  color: var(--secondary-color);
  font-weight: 600;
}

.about-text .btn a {
  color: var(--white);
  display: inline-block;
  background-color: var(--main-color);
  padding: 12px 24px;
  border-radius: 4px;
  margin-right: 20px;
}
.about-text .btn a:hover {
  background-color: #fa2626;
}

/* end about section style */
/* ------------------------------------------ */

/* LINES BELOW HEADERS */
.lines {
  position: relative;
  margin: 15px auto;
  width: 160px;
  height: 1px;
  background-color: var(--main-color);
}
.lines::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 30px;
  width: 100px;
  height: 1px;
  background-color: var(--main-color);
}
.lines::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 30px;
  width: 100px;
  height: 1px;
  background-color: var(--main-color);
}
/* ------------------------- */

/* Start styling services section */
.services {
  text-align: center;
  margin: 0 auto;
  padding: 60px 0;
  background-color: var(--secondary-bg-color);
}

.services .items {
  margin: auto;
  padding: 20px 0;
}
.services .items .item {
  float: left;
  width: 25%;
  border-radius: 2px;
  padding: 20px 0;
}
.services .items .item:hover {
  background-color: var(--white);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.285);
}
.services .items .item:hover i {
  transform: scale(1.2);
}
.services .items .item i {
  font-size: 24px;
  color: var(--main-color);
  margin: 24px;
}

.services .items .item p {
  padding: 0 8px;
  font-size: 16px;
  color: var(--secondary-color);
  /* font-weight: 300; */
}
/* End styling services section */
/* ------------------------------------------ */

/* Start styling the portfolio section */
.portfolio {
  text-align: center;
  padding: 60px 0;
}
.port-options {
  margin: 20px auto;
}
.port-options button {
  text-transform: uppercase;
  font-size: 16px;
  padding: 8px;
  margin-inline: 18px;
  color: var(--black);
  font-weight: 500;
  border: none;
  background-color: transparent;
}
.port-options button:hover {
  color: var(--main-color);
  cursor: pointer;
}
.portfolio .cards {
  width: 100%;
}
.portfolio .cards-row {
  padding-inline: 12px;
}
.portfolio .cards-row .card {
  display: inline-block;
  position: relative;
  width: 30%;
  margin-bottom: 12px;
  margin-inline: 5px;
}
.portfolio .cards-row .card:hover .port-overlay {
  z-index: 1;
  opacity: 1;
  cursor: pointer;
}
.portfolio .cards-row .card a > img {
  width: 100%;
}
.portfolio .cards-row .card .port-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 20%, 0.6);
  z-index: -1;
  opacity: 0;
}
.portfolio .cards-row .card .port-overlay i {
  font-size: 16px;
  position: absolute;
  bottom: 18px;
  right: 12px;
  color: var(--main-color);
}
/* POPUP DISPLAY STYLEING */
.openpopup {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 13%, 0.78);
  top: 0;
  left: 0;
  transition: 0s;
  cursor: zoom-out;
}
.openpopup img {
  transition: 0s;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.285);
  cursor: initial;
}
.hidden {
  visibility: hidden;
}

/* POPUP DISPLAY STYLEING */

/* End styling the portfolio section */
/* ------------------------------------------ */

/* start styling counters section- */
.counters-section {
  text-align: center;
  padding: 80px 0;
  margin: 0 auto 50px auto;
  background-color: var(--secondary-bg-color);
  color: var(--black);
}
.counters-box {
  width: 100%;
}
.counters-box .counter-card {
  width: 16%;
  display: inline-block;
  margin-inline: 4%;
}
.counter-card .counter {
  font-size: 30px;
  margin-bottom: 18px;
}
.counter-card i {
  color: var(--main-color);
  font-size: 24px;
  margin-bottom: 18px;
}
.counter-card h4 {
  font-weight: 600;
}
/* End styling counters section- */
/* ------------------------------------------ */

/* start styling testimonial section */
.testimonial {
  text-align: center;
  margin: 0 auto 50px auto;
  padding: 40px 0;
}
.testimonial .testimonial-card {
  margin: 40px auto 0 auto;
  width: 60%;
  background: rgb(255, 48, 91);
  background: linear-gradient(
    135deg,
    #ff305b 0%,
    #ff305b 20%,
    rgba(241, 241, 241, 1) 20%
  );
  padding: 50px;
  border-radius: 8px;
  overflow: hidden;
}
.testimonial-card-img {
  float: left;
  width: 15%;
  margin-right: 5%;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-card-img img {
  width: 100%;
  transform: scale(1.1);
}
.testimonial-card-text {
  float: right;
  width: 80%;
  text-align: start;
}
.testimonial-card-text h2 {
  color: var(--black);
  font-size: 32px;
}
.testimonial-card-text h5 {
  color: var(--secondary-color);
}
.testimonial-card-text p {
  color: var(--secondary-color);
}
.testimonial-card-text .rate {
  font-size: 16px;
  color: #f1c30d;
}
.testimonial .scroll-circle button {
  border: 1px solid var(--main-color);
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  margin-inline: 2px;
}
.testimonial .scroll-circle .active-btn {
  border: 1px solid var(--main-color);
  cursor: pointer;
  border-radius: 15px;
  width: 30px;
  height: 10px;
  background-color: var(--main-color);
}
/* End styling testimonial section */
/* ------------------------------------------ */

/* Start styling blog section */
.blog {
  text-align: center;
  margin: 0 auto 60px auto;
  padding: 60px 0;
  background-color: var(--secondary-bg-color);
  color: var(--black);
}
.blog .blog-cards {
  padding: 24px 0;
}
.blog .blog-cards .card {
  background-color: var(--white);
  text-align: start;
  width: 30%;
  display: inline-block;
  margin-inline: 1.4%;
  border-radius: 8px;
  overflow: hidden;
}
.blog .blog-cards .card-img {
  width: 100%;
}
.blog .blog-cards .card-img img {
  width: 100%;
}
.blog .blog-cards .card-img iframe {
  width: 100%;
  height: 192px;
}
.blog .blog-cards .card-text {
  padding: 0 16px 40px 16px;
}
.blog .blog-cards .card-text h2 {
  font-weight: 600;
}
.blog .blog-cards .card-text > p {
  color: var(--secondary-color);
}
.blog .blog-cards .card-text p:last-of-type {
  color: var(--secondary-color);
  font-size: 14px;
}
.blog .blog-cards .card-text a {
  color: var(--black);
}
.blog .blog-cards .card-text a:hover {
  color: var(--main-color);
}

/* End styling blog section */
/* ------------------------------------------ */

/* Start Styling contact section */
.contact {
  text-align: center;
}
.contact .form-container {
  padding: 40px 0;
  margin: auto;
  width: 60%;
}
.contact form {
  text-align: start;
}
form .form-row {
  margin-bottom: 30px;
}
.contact form input {
  min-height: 40px;
  color: var(--secondary-color);
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  padding: 8px 14px;
  box-shadow: inset 0px 0px 3px 1px rgb(243, 243, 243);
}
.contact form input:focus {
  border: 1px solid var(--main-color);
  outline: 1px solid var(--main-color);
  box-shadow: none;
  color: var(--black);
}

form .form-name {
  float: left;
  width: 46%;
}
form .form-email {
  float: right;
  width: 46%;
}
form .form-subject {
  width: 100%;
}
form .form-message {
  min-height: 40px;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  padding: 8px 14px;
  box-shadow: inset 0px 0px 3px 1px rgb(243, 243, 243);
  width: 100%;
  color: var(--secondary-color);
}
.contact .form-message:focus {
  border: 1px solid var(--main-color);
  outline: 1px solid var(--main-color);
  box-shadow: none;
  color: var(--black);
}
.form-submit {
  background-color: var(--main-color);
  box-shadow: none;
  text-transform: uppercase;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  color: var(--white);
}
/* End of Styling contact section */
/* ------------------------------------------ */

/* Start Styling footer section */
.footer {
  padding: 48px 0 60px 0;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  margin: auto;
}
.footer .social {
  margin-bottom: 14px;
}
.footer .social a {
  color: var(--white);
  margin-inline: 8px;
}
.footer .social a:hover {
  color: var(--main-color);
}
.footer .copy-right {
  font-size: 14px;
}
.footer .copy-right a {
  color: var(--main-color);
}
/* End of Styling footer section */
/* ------------------------------------------ */
